.public-pursuance-search-form {
  display: flex;
  align-content: flex-start;
  flex-flow: column wrap;
  height: 70px;
  margin-top: 5px;
}

.public-pursuance-search-form label[for='a'] { order: -2; }
.public-pursuance-search-form label[for='b'] { order: -1; }

.public-pursuance-search-form label {
  color: white;
  margin-top: 10px;
  margin-right: 10px;
}

.public-pursuance-search-form input {
  height: 28px;
  padding-left: 5px;
  margin: 3px 0px;
  min-width: 50vw;
  border-radius: 5px;
  border: none;
  outline: none;
}

.public-pursuance-search-form input[type="text"]::placeholder {
  opacity: 0.5;
}

.pursuance-list h3 {
  color: white;
}

.pursuance-description h3 {
  color: #50b3fe;
}

@media (max-width:500px) {
  .public-pursuance-search-form {
    height: 140px;
  }

  .public-pursuance-search-form label[for='b'] { order: 0; }
}
