.wysiwyg {
  box-sizing: border-box;
  border: 1px solid #ccc;
  cursor: text;
  padding: 8px;
  border-radius: 5px;
  margin: 10px 0;
  background: #fefefe;
  color: black;
  border-bottom: 2px solid #50b3fe;
}

.wysiwyg :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.wysiwyg-save,
.wysiwyg-edit {
  border-radius: 5px;
  background-color: #000;
  height: 28px;
}
